<div class="container-fluid">

  <div class="row bg-info d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="fs-54">Seja bem vindo(a)!</h1>
          <h5 class="fs-18">Expresse aqui os seus pensamentos.</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#exampleModal" data-whatever="#novaPostagem">Nova Postagem</button>
          <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
        </div>
      </div>

    </div>

    <div class="col-md-6 d-flex justify-content-center mt-3 mb-5">
      <img src="../../assets/img/Yoga practice-amico.png" alt="" width="500px" height="500px">

    </div>
  </div>

</div>


<div class="container" id="postagens">

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active text-light font-weight-bold mt-4 " aria-current="page" href="#todasPostagens">Todas as postagens</a>

       <div class="card-columns mt-5">
        <div class="card text-center" *ngFor='let item of listaPostagens'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="test-muted"> Tema: {{item.tema.descricao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
             </small></p>
            <p class="card-text"><small class="text-muted"> by: {{item.usuario.nome}}</small></p>
          </div>
        </div>
       </div>

      </li>


    <li class="nav-item" id="minhasPostagens">
      <a (click)='findByIdUser()' class="nav-link active text-light font-weight-bold mt-4 " aria-current="page" href="#minhasPostagens">Minhas Postagens</a>

      <div class="card-columns mt-5">
        <div class="card text-center" *ngFor='let item of user.postagem'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="test-muted"> Tema: {{item.tema.descricao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
             </small></p>

             <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
             <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

          </div>
        </div>
       </div>

    </li>
    <li class="nav-item font-weight-bold" id="postagemTema">
      <a class="nav-link active text-light font-weight-bold mt-4 " aria-current="page" href="#postagemTema">Postagens por Tema</a>

      <div class="card-columns mt-5" *ngFor='let tema of listaTemas'>
        <div class="card text-center" *ngFor='let item of tema.postagem'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
             </small></p>
             <p class="card-text"><small class="text-muted"> by: {{item.usuario.nome}}</small></p>

          </div>
        </div>
       </div>

    </li>
  </ul>
</div>





<!-- Modal -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="novaPostagem" id="exampleModalLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form>
          <div class="form-group">
            <label for="titulo" class="col-form-label">Título:</label>
            <input [(ngModel)]= "postagem.titulo" name="titulo" type="text" class="form-control" id="titulo">
          </div>

          <div class="form-group">
            <label for="texto" class="col-form-label">Texto:</label>
            <textarea [(ngModel)]="postagem.texto" name="texto" class="form-control" id="texto" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="texto"class="col-form-label">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'> cadastre um novo</a>: </label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change) = 'findByIdTema()'>
              <option *ngFor='let item of listaTemas' value="{{item.id}}">
               {{item.descricao}}
              </option>
            </select>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)='publicar()'
        data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
